     <!-- PAGE HEADER
    ================================================== -->
    <div class="page-header position-relative pt-8 pt-xl-11">
        <div class="position-absolute top-0 right-0 left-0 overlay overlay-custom-left">
            <img class="" src="assets/img/covers/courses2.jpg" alt="...">
        </div>
    </div>



    <!-- PAGE TITLE
    ================================================== -->
    <div class="page-header-cont container">
        <div class="row mb-8">
            <div class="col-lg-8 mb-6 mb-lg-0 position-relative">
                <div class="course-single-white">
                    <h1 class="me-xl-14 text-white">
                        Izaan School Website Accessibility Statement
                    </h1>
                    <p class="me-xl-13 mb-5 text-white">We are committed to making our website accessible to everyone. If you are having difficulty accessing any part of our website, please contact us for assistance at info@Izaanschool.com. We welcome your suggestions and comments as we engage in ongoing efforts to improve the accessibility and usability of our website.</p>

                </div>
          </div>
       </div>
    </div>

    <!-- PRICING
    ================================================== -->
    <div class="container mb-11" style="margin-top: 270px;">
        <div class="row">
            <div class="col-md-12 col-xl-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <h3 class=""> Izaan School Non-Discrimination, Students with Disabilities Policy</h3>
                        <p class="mb-6">Izaan School’s mission is “To enable the pursuit of a better life through education”. To this end, Izaan School provides reasonable accommodations to qualified students with disabilities to afford an opportunity for their full participation in Izaan School educational programs and activities.

                            While reasonable accommodations are determined in accordance with the associated laws and legislation in every country we operate, in general a person with a disability is defined as any person who: (1) has a physical or mental impairment which substantially limits one or more major life activities; (2) has a record of such an impairment; or (3) is regarded as having such an impairment.

                            Reasonable accommodations may include, but are not limited to extended time on examinations; modified testing procedures; use of academic aides in the classroom, such as note takers and sign language interpreters; substitution of similar or related work for a non-fundamental program requirement and/or the provision of special furniture, equipment, or other adaptations in a classroom

                            Policy Administration
                            Students that have a disability as defined under an applicable country’s laws and regulations are requested to enter an interactive process with Izaan School’s Student Relations department to determine an appropriate reasonable accommodation.  Students do not have to disclose a disability to Izaan School if they are not requesting reasonable accommodation services. </p>



                    </div>

                </div>
            </div>
        </div>
    </div>
