     <!-- PAGE HEADER
    ================================================== -->
    <div class="page-header position-relative pt-8 pt-xl-11">
        <div class="position-absolute top-0 right-0 left-0 overlay overlay-custom-left">
            <img class="" src="assets/img/covers/courses2.jpg" alt="...">
        </div>
    </div>



    <!-- PAGE TITLE
    ================================================== -->
    <div class="page-header-cont container">
        <div class="row mb-8">
            <div class="col-lg-8 mb-6 mb-lg-0 position-relative">
                <div class="course-single-white">
                    <h1 class="me-xl-14 text-white">
                        Privacy Policy
                    </h1>
                    <p class="me-xl-13 mb-5 text-white">IZAAN SCHOOL Privacy Policy</p>

                </div>
          </div>
       </div>
    </div>

    <!-- PRICING
    ================================================== -->
    <div class="container mb-11" style="margin-top: 270px;">
        <div class="row">
            <div class="col-md-12 col-xl-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <p class="mb-6">Izaan School LLC and our affiliates (collectively, “Izaan School,” “Izaan,” “we,” “us,” or “our”) care about your privacy. We are committed to maintaining your trust by protecting your Personal Information. This Privacy Policy (“Policy”) describes how Izaan School collects, uses, discloses, and otherwise processes your Personal Information in connection with your use of our websites (“Website Services”), or other services that refer to or link to this Policy, as well as any offline products, programs, courses, and services (collectively our “Services”).

                        Before you use our Services, please read this Policy in its entirety, to help you make informed decisions about your relationship with us.</p>
                    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <h3 class=""> 1. INTRODUCTION</h3>
                        <p class="mb-6">References to “Personal Information” means data that relates to you and can — either on its own or in combination with other information — identify you as an individual. Personal Information does not include data that has been aggregated or made anonymous such that you can no longer be identified using means reasonably available to us.

                            References to “Services” in this Policy include the services provided by us. </p>


                        <h3 class=""> 2. INFORMATION WE COLLECT</h3>
                        <p class="mb-6"></p>
                        <p class="mb-6">The Personal Information that we collect and our use of that information depends on your relationship with us and the requirements of applicable law as described below.
                        </p>
                        <p class="mb-6">We collect information:</p>

                            <li>that you provide to us directly, including via written or oral communications with our staff, applications or other forms;</li>
                            <li>that your school or company provides to us;</li>
                            <li>about your devices and their location, and your use of our Services, including through cookies, pixels, web beacons, logs, and other Internet technologies. For more information about these technologies, please see the section “Navigational Information” below;</li>
                            <li>if you opt in to certain features or depending on your device settings, we will obtain geo-location data and information about your contacts; and</li>
                            <li>that we obtain from other sources.</li>


                        <p class="mb-6">2.1 INFORMATION COLLECTED FROM YOU</p>

                        <p class="mb-6">Except as otherwise described in this Policy, Izaan School only collects Personal Information from you or others based on the Services you use and your relationship with us. We may collect the following categories of information, depending on the Services that you use:</p>


                        <li>Contact Information and other Identifiers, including your name, mailing address, phone number, email address, and other information that enables us to contact you;</li>
                        <li>Verification Information, including a photo ID or government issued identification, date of birth, proof of eligibility, employment, income, and social security numbers when required;</li>
                        <li>Demographic Information, including your gender, race, age, and education level;</li>
                        <li>Account Information, including your username and password; </li>
                        <li>Professional and Employment-Related Information, including your company name, title, role, team, and other information about your profession;</li>

                        <li>Program Information, including student records, student performance information, student projects and work, information regarding your job search, job search parameters, applications, interview contacts, and other information about your use of the Services; </li>
                        <li>Payment Information, including your credit or debit card details, bank account information, and payment or other information required when you make a purchase; </li>
                        <li>Communications, and any other information that you share, send, or receive using the Services, including your e-mail, SMS, Slack, requests made through automated chatbots, or similar technology, calendar invitations, and any other information you choose to share with us — including your photos, videos, blog entries, interests, hobbies, lifestyle choices, and groups with which you are affiliated — and that you send or receive using the Services;</li>

                        <li>Device and Navigational Information, including information about your computer or device and Internet or other electronic network activity information. </li>

                        <li>Other Personal Information, including, in addition to all of the information described above, instant messenger and social media screen names, usernames and passwords, relationship to emergency point of contact, and other details such as photos of you, and data or files that you input, upload, or store with the Services, such as search queries that you submit, and documents that you upload to the Services.  </li>


                        <p class="mb-6">2.2 NAVIGATIONAL INFORMATION</p>
                        <p class="mb-6">In addition to information that you choose to submit to us, Izaan and/or our service providers may automatically collect and/or store certain information (“Navigational Information”) when you visit or interact with our websites, landing pages, and other web-portals (the “Site”). This Navigational Information may be stored and/or accessed from your personal computer, laptop, tablet, mobile phone or other device (a “Device”) whenever you visit or interact with our Site. Navigational Information may include:

                            your IP address or other unique identifier (“Device Identifier”);
                            your Device browser, operating system and mobile network information;
                            the areas within our Site that you visit and your activities there, including remembering you and your preferences;
                            your general location; and
                            certain other Device data, including the time of day you visit our Site, among other information. </p>

                        <h3 class=""> 2.3 INFORMATION COLLECTED ABOUT YOU </h3>
                        <p class="mb-6">Social Media. Izaan School collects Personal Information to enable you to use online social media resources, including the use of our learning management system. If you register or log into your account through a third-party social media service, we will have access to some of your account information from that service, such as your name and other information in that account, as authorized by your settings on that service. You have the ability to disable the connection between our Services and your third-party social media account(s) at any time.

                            Third-Party Sources. We may obtain Personal Information about you from your company, school, or other organization associated with your use of the Services. We also may receive Personal Information about you from publicly and commercially available sources and other third parties as permitted by law. We combine this information with Personal Information or other information that we receive from or about you, where necessary to provide the Services you requested.

                            Mobile Computing. We provide websites and online resources that are specifically designed to be compatible and used on mobile computing devices. Mobile versions of the Services may require you to log in with an account. In such cases, information about use of each mobile version of the website may be associated with user accounts. In addition, Izaan School may enable you to download an application, widget, or other tool that can be used on mobile or other computing devices. Some of these tools store information on mobile or other devices. These tools transmit Personal Information to Izaan School to enable you to access your user accounts and to enable us to track use of these tools. Some of these tools enable you to e-mail reports and other information from the tool.

                            In addition, we collect and/or generate anonymized and aggregated information from your use of the Services. We use anonymized and aggregated information in various ways, including to measure your interest in and use of portions or features of the Services. Anonymized or aggregated information is not Personal Information.</p>

                        <h3 class="">3. PURPOSES FOR USE OF PERSONAL INFORMATION</h3>
                        <p class="mb-6">How we use your Personal Information depends on your relationship with us. In general, we use your Personal Information to:

                            provide you with our products and Services, including online and offline events, and other materials you request;
                            protect against fraud, abuse, or harm and otherwise provide a Secure Environment (“Secure Environment” as used in this Policy means both physical and online environments);
                            respond to or fulfill customer service requests;
                            analyze, better tailor, and improve our products and Services;
                            contact you about our Services, promotions, and sweepstakes, tailor and provide you with relevant advertising, enhance your engagement with us, and otherwise communicate with you;
                            share information and other materials with you about third-party programs we think may be of interest to you; and
                            comply with our legal obligations and enforce our legal rights, such as, among other things, to exercise contractual rights, to comply with financial reporting obligations, regulatory reporting obligations, court orders, warrants, or subpoenas in accordance with applicable law.
                            Applicants.  If you are an applicant, the Personal Information we use includes:

                            Contact Information and Professional Information so that we may identify you and contact you, including about your application, to respond to inquiries or troubleshooting requests and to deliver notifications and other operational communications, and review your application;
                            Contact Information and Verification Information to protect against fraud, abuse, or harm, verify your identity, and otherwise provide a Secure Environment (generally to meet our legal obligations or our legitimate interests);
                            Payment Information, Financing Information, and Scholarship Information, where appropriate, to process a transaction that you have requested or applied for, including your purchase or financing of the Services (generally, to meet our contractual obligations to you); and
                            Other Personal Information and Communications to tailor our marketing to you and provide you with the Services, including, but not limited to (i) assessing your application, including your preferred class dates, how you plan to support yourself financially during the course, your availability, why you want to learn with us, what you hope to do upon completion of the program, and how you heard about us; (ii) connecting you with the community, social media channels, apps, and websites; (iii) providing Services that you request through our booking and sign-in tools; and (iv) processing the data or files that you input, upload, or store with the Services, such as to fulfill search queries that you submit or process documents that you upload to the Services.
                            Students.  If you are a student, the Personal Information we use includes:

                            Contact Information and Professional Information so that we may identify you and contact you, including to respond to inquiries or troubleshooting requests and to deliver notifications and other operational communications, enroll you in our Services, or provide you with a digital or physical access badge;
                            Contact Information and Professional Information, Account Information, Program Information, and other academic information, such as your progress and performance in programs and courses, your engagement with the Services, your portfolio, and any disciplinary data; to provide you with the Services, tailor Services to you, and connect you with the community;
                            Contact Information, Verification Information, Payment Information, Program Information, and Demographic Information, where appropriate, to process a transaction that you have requested or applied for, including your purchase or financing of the Services (generally, to meet our contractual obligations to you);
                            Contact Information, Verification Information, Demographic Information, Payment Information, and Program Information, each where appropriate, for internal reporting purposes and educational regulatory reporting requirements;
                            Contact Information and Verification Information to protect against fraud, abuse, or harm, verify your identity, and otherwise provide a Secure Environment (generally to meet our legal obligations or to meet our legitimate interests); and
                            Other Personal Information to provide you with the Services, including, but not limited to (i) providing you with relevant courses and other training programs; (ii) connecting you with the community, social media channels, apps, and websites; (iii) providing Services that you request; (iv) connecting you with prospective employers and other relevant opportunities, and (v) processing the data or files that you input, upload, or store with the Services, such as to fulfill search queries that you submit or process documents that you upload to the Services.
                            Guests and Other Website Visitors.  If you are a visitor or guest who visits a facility in connection with the Services, except as otherwise specified in this Policy, we use the following Personal Information for the following purposes:

                            Your name and email address, whether provided by you or your host, to identify you and provide you with a digital or physical access badge;
                            Contact Information so that we may identify you and contact you, including to respond to inquiries that we receive from you;
                            Contact Information and Verification Information to protect against fraud, abuse, or harm, verify your identity and the purpose of your visit, and otherwise provide a Secure Environment (generally, to meet our legal obligations or to meet our legitimate interests);
                            Other Personal Information to provide the Services, including, but not limited to (i) providing you with online and offline events; (ii) connecting you with the community, social media channels, apps, and websites; (iii) providing Services that you request through our Services; and (iv) processing the data or files that you input, upload, or store with the Services, such as to fulfill search queries that you submit or process documents that you upload to the Services. This personal information may vary depending on the length of your visit or the Services that you access.
                            Mentors, Alumni, and University Students. If you are a mentor, alumnus, or university student, in addition to the Personal Information we use about guests, the Personal Information we use includes:

                            Professional Information to provide and tailor the Services and connect you with the community; and
                            Contact Information, Account Information, Professional Information, and Program Information, in order to provide you with alumni services.
                            Clients and Hiring Managers. If you are a client or hiring manager, in addition to the Personal Information we use about guests, the Personal Information we use includes:

                            Professional Information and Communications to provide and tailor the Services, engage you as a client, and connect you with the community.
                            All. Whether you are an applicant, student, guest, or other end user, mentor, alumnus, client, or hiring manager, we also use your Device and Navigational Information and Other Personal Information to prepare aggregate use statistics, analyze, provide, better tailor, and improve our products and Services, tailor and provide you promotions and advertising, both on and off the Services, otherwise enhance your engagement with us, and as otherwise described in this Privacy Policy.

                            LEGAL BASES FOR PROCESSING PERSONAL INFORMATION

                            The processing of your Personal Information as described above is necessary to meet our contractual obligations to you or your company, to meet our legal obligations, or to meet our legitimate interests in providing our Services. Our legitimate interests may include providing you and others a Secure Environment, and analyzing, improving, and better tailoring our products and Services.

                            We also generally rely on our legitimate interests in marketing our Services to you, whether on our own websites or on third-party websites, and in providing promotions or sweepstakes, where permitted by applicable law. We provide you with choices about how we use your Personal Information, in accordance with applicable law, by allowing you to opt out of receiving all such communications (unless they are transactional solely related to the provision of our Services to you and have no marketing element) and, where required, by not sending you any such messages without your prior consent. Where applicable, we also may process Personal Information with your consent. Remember that in certain circumstances, and where permitted by applicable law, you may have the right to object to our uses of your Personal Information as further described in Section 5 of this Policy.</p>

                        <h3 class=""> 4. SHARING OF PERSONAL INFORMATION</h3>
                        <p class="mb-6">As described in this Policy, we disclose your Personal Information within Izaan School and its affiliates, to our community, to our service providers and advertisers, and to other end users in order to provide our Services and to improve ways of working in our community.

                            Within Izaan School. We may share your Personal Information across Izaan School and its affiliates depending on where you are located and the Services that you use. Izaan School uses your information in accordance with this Policy.

                            Our Community. Our Services include online and offline communities, forums, networks, and other features through which you may share information and connect with others. This includes:

                            Our Services may make networks, chat rooms, forums, and/or other groups available to users. Remember that anyone can read, collect, or use your postings on a network or forum or in a chat room or group and we cannot be responsible for any unauthorized third party’s use of information that you publicly disclose online.
                            We foster our community by creating profiles for students or permitting students to create their own profiles on networks or forums. Typically, such a profile contains your name and other information you provide or add to your profile (content, comments, photos, etc.). Depending on the Services you use, this profile might be created automatically and be accessible to other users of the network or forum. You can also share your profile with a broader audience (e.g., via social media).
                            Our Services may include courses, programs, workshops, or other events that are recorded or streamed. If you participate, your name and image may appear in the recording or streamed video.
                            Service Providers. We rely on third-party service providers to perform a variety of services on our behalf. We take steps to ensure that these service providers act only in line with our instructions and on our behalf, or otherwise use Personal Information as described in this Policy.

                            Financing Products. When you enter into an agreement with Izaan School to obtain a financing product or financial assistance, we may share your Personal Information to maintain or service your account(s) (including referrals to debt collectors, when appropriate), protect against fraud, unauthorized transactions, claims, or other liability, report to consumer reporting agencies, undertake a proposed or actual exchange or sale of all or a portion of our business or accounts, comply with subpoenas or other judicial process or regulatory requirements, or as otherwise required or permitted by law. You generally do not have the right to limit our sharing of this Personal Information.

                            Financial Partners. When you engage a third party to finance your participation in Izaan School or provide tuition assistance, you are entering into a relationship with a third party for a financial product or service. As described in our Privacy Policy, we are not responsible for the data collection, privacy, and information sharing policies and procedures of any such third parties. Please read their privacy policies to find out how they collect and process your Personal Information prior to submitting any Personal Information.

                            Scholarship Providers. If you apply for a scholarship and/or receive a scholarship through Izaan School or a third-party scholarship provider, we may share your Personal Information with the third-party scholarship provider in order to administer the scholarship or meet reporting requirements.

                            Employer Partners. As part of our Services, we may connect you with prospective employers or employment opportunities. Typically, the information we share about you would consist of your resume, LinkedIn profile, and GitHub profile.

                            Program Partners. If you utilize the Services through your employer, university, or other organization, we may share your Personal Information with such third party in order to meet the requirements of the partnership.  Please review their privacy policies to find out how they collect and process your Personal Information prior to submitting any Personal Information.

                            Jobs Report. As part of our annual outcomes report, we will share your Personal Information with the third party we engage to review and examine our data and statements included in the report.

                            Research / Survey Solicitations.  From time to time, we will share your Personal Information to perform research (online and offline) via surveys on our behalf. Participation is voluntary, and we will use the information that we collect for research and reporting purposes, and to help us to improve the quality of our Services. We use the survey responses to determine the effectiveness of our Services, including the quality of our communications and our advertising and/or promotional activities. If you participate in a survey, your responses will be used along with other participants’ responses.

                            When Required by Law and as Necessary to Provide and Protect Our Services.  There may be instances when we disclose your Personal Information to other parties:

                            to provide you with the Services that you or your company/school request;
                            to comply with our legal obligations, including with auditors, lawyers, CPAs, financial consultants, or other consultants;
                            to comply with the law or respond to legal process or a request for cooperation by a government entity or law enforcement;
                            to comply with education regulatory requirements or requests;
                            to detect, limit, and prevent fraud, or verify and enforce compliance with the policies governing our Services; or
                            to protect our rights, property, and safety or that of any of the Izaan School family of companies, business partners, members, or employees; and
                            where otherwise required by law.
                            We share Personal Information in this way either to comply with legal obligations to which we are subject, or to meet our legitimate interests in protecting our business, including from fraud and legal claims.

                            Corporate Transactions.  We disclose or share your information in the event that we purchase, sell, finance, transfer, or acquire all or a portion of a business or assets, such as in connection with a merger, or in the event of a bankruptcy reorganization or liquidation.

                            With Your Consent.  We may request your consent to share Personal Information about you with certain third parties so that they can provide you with special offers, promotional materials, and other materials that may be of interest to you. With your consent, we also use and publicize your name, likeness, and other personal characteristics and private information for advertising, promotion, and other commercial and business purposes.</p>


                        <h3 class="">5. RIGHTS IN YOUR INFORMATION</h3>
                        <p class="mb-6">We will process such requests in accordance with local laws. To protect your privacy, Izaan School will take steps to verify your identity before granting access or making any changes to your Personal Information. The California Privacy Rights section below provides additional information for California residents.</p>

                        <h3 class="">6. SENSITIVE PERSONAL INFORMATION</h3>
                        <p class="mb-6">Where you have consented to Izaan School’s use of “sensitive” Personal Information (e.g., Personal Information relating to your health, religious or philosophical beliefs, or biometric information which is used to uniquely identify you) (“Sensitive Personal Information”), you may withdraw that consent, in accordance with applicable law.

                            Prior to disclosing Sensitive Personal Information to a third party or processing Sensitive Data for a purpose other than its original purpose or a purpose authorized subsequently by the data subject, Izaan will endeavor to obtain your explicit consent (opt-in). Where your consent for the processing of Personal Information is otherwise required by law or contract, Izaan School will comply with the law or contract.</p>


                        <h3 class="">7. EMAIL AND TELEPHONE COMMUNICATIONS</h3>
                        <p class="mb-6">Opting-Out of Marketing Communications.  We provide a means to unsubscribe in our marketing-related email communications. Note that we will continue to send transaction-related emails regarding products or services that you have requested following an unsubscribe. We may also need to send you certain communications regarding operation and administration of the Services, and you will not be able to opt out of those communications, e.g., communications regarding updates to our Terms of Use or this Policy. If you no longer desire to be contacted by us, you must terminate your relationship with Izaan School and can no longer use our Services.

                            Collaboration. We may partner with other organizations to run events or programs. The Personal Information and other information that you provide to sign up or participate in that event or program will be available to that organization, and you may receive emails or other communications from it after the event. Please refer to that organization’s privacy policy for information on how to opt-out of its communications.

                            Text Messages. We may send you SMS text messages related to our Services or transactions. You can opt-out of these messages at any time by replying STOP.</p>



                        <h3 class="">8. COMPLIANCE WITH THE DIGITAL ADVERTISING ALLIANCE</h3>
                        <p class="mb-6">Where Izaan School engages in interest-based advertising, we endeavor to comply with the cross-industry Self-Regulatory Program for Online Behavioral Advertising as managed by the Digital Advertising Alliance (DAA) (http://aboutads.info), as applicable. As part of this service, Izaan School’s online advertisements may sometimes be delivered with icons that help individuals understand how their data are being used and provide options to restrict that use. To opt-out of internet-based advertising by all DAA-participating companies, please visit http://www.aboutads.info/choices/.</p>

                        <h3 class="">9.  LOCATION OF PROCESSING</h3>
                        <p class="mb-6">Izaan School is headquartered in the United States, and as a consequence your Personal Information will be processed in a country that may have privacy protections less stringent than your country of residence. In accordance with applicable law, we implement measures to ensure that any transferred Personal Information remains protected and secure. You can obtain further information about these measures by contacting us using the contact details set out below.</p>


                        <h3 class="">10.  RETENTION</h3>
                        <p class="mb-6">Izaan School will retain your Personal Information for as long as you have a relationship with us, and for a period after your relationship with us has ended as determined by our records retention program.

                            When determining how long this retention period will last, we take into account the length of time Personal Information is required to:

                            Continue to develop, tailor, upgrade, and improve our Services;
                            Maintain business records for analysis and/or audit purposes;
                            Comply with record retention requirements under the law;
                            Defend or bring any existing or potential legal claims; or
                            Address any complaints regarding the Services.</p>

                        <h3 class="">11.  INFORMATION SECURITY</h3>
                        <p class="mb-6">The security of all Personal Information provided to Izaan School is important to us. Izaan School takes reasonable steps endeavoring to use appropriate technical or organizational measures to protect your Personal Information, including against unauthorized or unlawful processing and accidental loss, destruction, or damage. To protect this Personal Information from unauthorized access and use, we use security measures that comply with law and are consistent with industry standards.</p>

                        <h3 class="">12.  OTHER RIGHTS AND IMPORTANT INFORMATION</h3>
                        <p class="mb-6">11.1 CCTV
                            Our campuses have CCTV installed to meet our legitimate business interests in protecting the safety of our employees, students, and guests and their property. These recordings may be accessed by Izaan School or the landlord for any of our campuses and facilities. This CCTV footage may be made available to third parties authorized by Izaan School or our applicable landlord.  These recordings may be shared with competent authorities in accordance with applicable laws, if required. The recordings are generally retained for a limited period of time, but may be kept longer where Izaan School or our applicable landlord determines that it is appropriate, for example in connection with the investigation of an incident, or when competent authorities request us to retain them.

                            </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
