<div class="about-us-page">
    <!-- PAGE HEADER
      ================================================== -->
    <div class="page-header about-us-page-header position-relative pt-8 pt-xl-11">
      <!-- <div class="position-absolute top-0 right-0 left-0 overlay overlay-custom-left d-none d-xl-block">
              <img class="" src="assets/img/covers/cover-19.jpg" alt="...">
          </div> -->
  
      <div class="position-absolute top-0 right-0 left-0 overlay overlay-custom-left">
        <img class="" src="assets/img/covers/cover-19.jpg" alt="...">
      </div>
    </div>
  

    
 <!-- PAGE TITLE
    ================================================== -->
    <div class="page-header-cont container">
        <div class="row mb-8">
          <div class="col-lg-8 mb-6 mb-lg-0 position-relative">
            <div class="course-single-white">
                    <h1 class="me-xl-14 text-white">
                        Contact Us
                    </h1>
                    <p class="me-xl-13 mb-5 text-white">Questions for our team? We're here to help.</p>
                 
                </div>     
          </div>   
       </div>
    </div>

    <!-- PRICING
    ================================================== -->
    <div class="container mb-11" style="margin-top: 270px;">
        <div class="row">
            <div class="col-md-12 col-xl-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <h3 class=""> Email</h3>
                        <p class="mb-6">
                            <li class="mb-6">For general inquiries, please contact. info@izaanschool.com </li>
                          
                        </p>

                        <h3 class=""> Call</h3>
                        <p class="mb-6">
                            <li class="mb-6">+1 888-552-5888 </li>
                        </p>
                        <h3 class=""> Address</h3>
                        <p class="mb-6">
                            6600 Chase Oaks Boulevard, Suite 150 Plano, Texas 75023, United States of America
                        </p>


                        <div class="mapouter" style="display: none;">
                            <div class="gmap_canvas">
                                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=6600%20Chase%20Oaks%20Boulevard&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                <a href="https://123movies-to.org"></a>
                                <br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
                                <a href="https://www.izaanschool.com/">Izaan School of Engineering</a>
                                <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
                            </div>
                        </div>           
                    </div>
                    
                </div>
            </div>
        </div>
    </div>