     <!-- PAGE HEADER
    ================================================== -->
    <div class="position-relative pt-8 pt-xl-11">
        <div class="position-absolute top-0 right-0 left-0 overlay overlay-custom-left">
            <img class="" src="assets/img/covers/courses2.jpg" alt="...">
        </div>
    </div>


    
    <!-- PAGE TITLE
    ================================================== -->
    <div class="container">
        <div class="row mb-8">
            <div class="col-lg-8 mb-6 mb-lg-0 position-relative">
                <div class="course-single-white">
                    <h1 class="me-xl-14 text-white">
                        Careers
                    </h1>
                    <p class="me-xl-13 mb-5 text-white">Our School is purpose-oriented, committed and focused on providing ideal services and assisting individuals goals.</p>
                 
                </div>     
          </div>   
       </div>
    </div>


    <!-- 404
    ================================================== -->
    <div class="container my-10" style="margin-top: 250px!important">
        <!-- Illustrator -->
        <img src="assets/img/illustrations/illustration-12.svg" alt="..." class="img-fluid mb-5 mb-md-9">

        <div class="row">
            <div class="col-xl-6 mx-auto text-center">
                <h1 class="display-6">Ohh! New Vacancy Not Found</h1>
                <p class="mb-6"></p>

                <form class="mb-5">
                    <div class="input-group d-block d-md-flex bg-white p-1 rounded border">
                        <input type="text" class="form-control w-100 w-md-auto form-control-sm rounded border-0 placeholder-1" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="button-addon2">
                        <div class="input-group-append ms-0">
                            <button class="btn btn-sm btn-primary w-100 w-md-auto btn-wide rounded border-0" type="button" id="button-addon2">Subscribe</button>
                        </div>
                    </div>
                </form>

                <a href="index.html" class="d-inline-block text-underline text-blue">Back to home</a>
            </div>
        </div>
    </div>    
