
      <!-- PAGE HEADER
    ================================================== -->
    <div class="page-header position-relative pt-8 pt-xl-11">
        <div class="position-absolute top-0 right-0 left-0 overlay overlay-custom-left">
            <img class="" src="assets/img/covers/courses2.jpg" alt="...">
        </div>
    </div>



    <!-- PAGE TITLE
    ================================================== -->
    <div class="page-header-cont container">
        <div class="row mb-8">
            <div class="col-lg-8 mb-6 mb-lg-0 position-relative">
                <div class="course-single-white">
                    <h1 class="me-xl-14 text-white">
                        Frequently Asked Questions
                    </h1>
                    <p class="me-xl-13 mb-5 text-white">Our School is purpose-oriented, committed and focused on providing ideal services and assisting individuals goals.</p>

                </div>
          </div>
       </div>
    </div>




    <!-- FAQ
    ================================================== -->
    <div class="container mb-11" style="margin-top: 250px;">
        <div class="w-xl-100 mx-auto">
            <h1>FAQ</h1>
            <div class="mb-8" id="accordionCurriculum">
                <div class="border rounded shadow mb-6 overflow-hidden">
                    <div class="d-flex align-items-center" id="curriculumheadingOne">
                        <h5 class="mb-0 w-100">
                            <button class="d-flex align-items-center text-left p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#CurriculumcollapseOne" aria-expanded="true" aria-controls="CurriculumcollapseOne">
                                What is Izaan?

                                <span class="ms-auto text-dark d-flex">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="CurriculumcollapseOne" class="collapse show" aria-labelledby="curriculumheadingOne" data-parent="#accordionCurriculum">
                        <div class="p-6 border-top">
                            <p>Izaan School of Engineering is a tech school that teaches skills that are required to have successful tech career.</p>
                        </div>
                    </div>
                </div>

                <div class="border rounded shadow mb-6 overflow-hidden">
                    <div class="d-flex align-items-center" id="curriculumheadingTwo">
                        <h5 class="mb-0 w-100">
                            <button class="d-flex align-items-center text-left p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#CurriculumcollapseTwo" aria-expanded="false" aria-controls="CurriculumcollapseTwo">
                                What courses does Izaan offer?

                                <span class="ms-auto text-dark d-flex">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="CurriculumcollapseTwo" class="collapse" aria-labelledby="curriculumheadingTwo" data-parent="#accordionCurriculum">
                        <div class="p-6 border-top">
                            <p>It offer three courses: Software QA Automation Engineering , AWS DevOps Engineering and Data Analyst</p>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="border rounded shadow mb-6 overflow-hidden">
                    <div class="d-flex align-items-center" id="curriculumheadingThree">
                        <h5 class="mb-0 w-100">
                            <button class="d-flex align-items-center text-left p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#CurriculumcollapseThree" aria-expanded="false" aria-controls="CurriculumcollapseThree">
                                What is the duration of each course?

                                <span class="ms-auto text-dark d-flex">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="CurriculumcollapseThree" class="collapse" aria-labelledby="curriculumheadingThree" data-parent="#accordionCurriculum">
                        <div class="p-6 border-top">
                            <p>The length of each course is 16 weeks.</p>
                        </div>
                    </div>
                </div>

                <div class="border rounded shadow mb-6 overflow-hidden">
                    <div class="d-flex align-items-center" id="curriculumheadingFour">
                        <h5 class="mb-0 w-100">
                            <button class="d-flex align-items-center text-left p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#CurriculumcollapseFour" aria-expanded="false" aria-controls="CurriculumcollapseFour">
                                What are timings of class?

                                <span class="ms-auto text-dark d-flex">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="CurriculumcollapseFour" class="collapse" aria-labelledby="curriculumheadingFour" data-parent="#accordionCurriculum">
                        <div class="p-6 border-top">
                            <p>Classes are held in evening</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <h1>Suggestions</h1> -->
            <div class="mb-8" id="accordionSuggestions">
                <div class="border rounded shadow mb-6 overflow-hidden">
                    <div class="d-flex align-items-center" id="suggestionsheadingTwo">
                        <h5 class="mb-0 w-100">
                            <button class="d-flex align-items-center text-left p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#suggestionscollapseTwo" aria-expanded="false" aria-controls="suggestionscollapseTwo">
                                Do we offer online or on campus classes?

                                <span class="ms-auto text-dark d-flex">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="suggestionscollapseTwo" class="collapse" aria-labelledby="suggestionsheadingTwo" data-parent="#accordionSuggestions">
                        <div class="p-6 border-top">
                            <p>Due to covid 19 we offer live online classes</p>
                        </div>
                    </div>
                </div>

                <div class="border rounded shadow mb-6 overflow-hidden">
                    <div class="d-flex align-items-center" id="suggestionsheadingThree">
                        <h5 class="mb-0 w-100">
                            <button class="d-flex align-items-center text-left p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#suggestionscollapseThree" aria-expanded="false" aria-controls="suggestionscollapseThree">
                                How can I join training courses?

                                <span class="ms-auto text-dark d-flex">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="suggestionscollapseThree" class="collapse" aria-labelledby="suggestionsheadingThree" data-parent="#accordionSuggestions">
                        <div class="p-6 border-top">
                            <p><li>Step 01: Book a consultation session with one of our admission counselor</li></p>
                            <p><li>Step 02: Sign up for Assessment Phase</li></p>
                            <p><li>Step 03: Begin your journey</li></p>
                        </div>
                    </div>
                </div>

                <div class="border rounded shadow mb-6 overflow-hidden">
                    <div class="d-flex align-items-center" id="suggestionsheadingFour">
                        <h5 class="mb-0 w-100">
                            <button class="d-flex align-items-center text-left p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#suggestionscollapseFour" aria-expanded="false" aria-controls="suggestionscollapseFour">
                                Is there a deadline to apply?

                                <span class="ms-auto text-dark d-flex">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="suggestionscollapseFour" class="collapse" aria-labelledby="suggestionsheadingFour" data-parent="#accordionSuggestions">
                        <div class="p-6 border-top">
                            <p>No there is no deadline to apply. You can join and start the assessment phase any time.</p>
                          </div>
                    </div>
                </div>



                <div class="border rounded shadow mb-6 overflow-hidden">
                    <div class="d-flex align-items-center" id="suggestionsheadingFour">
                        <h5 class="mb-0 w-100">
                            <button class="d-flex align-items-center text-left p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#suggestionscollapseFour" aria-expanded="false" aria-controls="suggestionscollapseFour">
                                Do I need a degree to join training sessions?

                                <span class="ms-auto text-dark d-flex">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="suggestionscollapseFour" class="collapse" aria-labelledby="suggestionsheadingFour" data-parent="#accordionSuggestions">
                        <div class="p-6 border-top">
                            <p>No, there is no need of any prior degree or experience.</p>
                          </div>
                    </div>
                </div>



                <div class="border rounded shadow mb-6 overflow-hidden">
                    <div class="d-flex align-items-center" id="suggestionsheadingFour">
                        <h5 class="mb-0 w-100">
                            <button class="d-flex align-items-center text-left p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#suggestionscollapseFour" aria-expanded="false" aria-controls="suggestionscollapseFour">
                                Is there any age limit?

                                <span class="ms-auto text-dark d-flex">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="suggestionscollapseFour" class="collapse" aria-labelledby="suggestionsheadingFour" data-parent="#accordionSuggestions">
                        <div class="p-6 border-top">
                            <p>No, there is no age limit.</p>
                          </div>
                    </div>
                </div>


                <div class="border rounded shadow mb-6 overflow-hidden">
                    <div class="d-flex align-items-center" id="suggestionsheadingFour">
                        <h5 class="mb-0 w-100">
                            <button class="d-flex align-items-center text-left p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#suggestionscollapseFour" aria-expanded="false" aria-controls="suggestionscollapseFour">
                                What is the fees for each course?

                                <span class="ms-auto text-dark d-flex">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="suggestionscollapseFour" class="collapse" aria-labelledby="suggestionsheadingFour" data-parent="#accordionSuggestions">
                        <div class="p-6 border-top">
                            <p>You can visit this link for fees details.</p>
                          </div>
                    </div>
                </div>


                <div class="border rounded shadow mb-6 overflow-hidden">
                    <div class="d-flex align-items-center" id="suggestionsheadingFour">
                        <h5 class="mb-0 w-100">
                            <button class="d-flex align-items-center text-left p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#suggestionscollapseFour" aria-expanded="false" aria-controls="suggestionscollapseFour">
                                How can I pay fees?

                                <span class="ms-auto text-dark d-flex">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="suggestionscollapseFour" class="collapse" aria-labelledby="suggestionsheadingFour" data-parent="#accordionSuggestions">
                        <div class="p-6 border-top">
                            <p>We offer you multiple options to pay fees. You can visit this link to know more.</p>
                          </div>
                    </div>
                </div>


                <div class="border rounded shadow mb-6 overflow-hidden">
                    <div class="d-flex align-items-center" id="suggestionsheadingFour">
                        <h5 class="mb-0 w-100">
                            <button class="d-flex align-items-center text-left p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#suggestionscollapseFour" aria-expanded="false" aria-controls="suggestionscollapseFour">
                                Does Izaan School of Engineering provide assistance in applying for jobs?

                                <span class="ms-auto text-dark d-flex">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="suggestionscollapseFour" class="collapse" aria-labelledby="suggestionsheadingFour" data-parent="#accordionSuggestions">
                        <div class="p-6 border-top">
                            <p>Yes, we do provide job support.</p>
                          </div>
                    </div>
                </div>


                <div class="border rounded shadow mb-6 overflow-hidden">
                    <div class="d-flex align-items-center" id="suggestionsheadingFour">
                        <h5 class="mb-0 w-100">
                            <button class="d-flex align-items-center text-left p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#suggestionscollapseFour" aria-expanded="false" aria-controls="suggestionscollapseFour">
                                What happens if I fall behind in course?

                                <span class="ms-auto text-dark d-flex">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="suggestionscollapseFour" class="collapse" aria-labelledby="suggestionsheadingFour" data-parent="#accordionSuggestions">
                        <div class="p-6 border-top">
                            <p>If somehow you fall behind in course and could not keep up with live online classes we provide you option of studying on your pace. You will have access to all study related resources and can get assistance from our experts.</p>
                          </div>
                    </div>
                </div>



                <div class="border rounded shadow mb-6 overflow-hidden">
                    <div class="d-flex align-items-center" id="suggestionsheadingFour">
                        <h5 class="mb-0 w-100">
                            <button class="d-flex align-items-center text-left p-5 min-height-80 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#suggestionscollapseFour" aria-expanded="false" aria-controls="suggestionscollapseFour">
                                How do I know which course is better for me?

                                <span class="ms-auto text-dark d-flex">
                                    <!-- Icon -->
                                    <svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="2" fill="currentColor"/>
                                    </svg>

                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H15V9H0V7Z" fill="currentColor"/>
                                        <path d="M6 16L6 8.74228e-08L8 0L8 16H6Z" fill="currentColor"/>
                                    </svg>

                                </span>
                            </button>
                        </h5>
                    </div>

                    <div id="suggestionscollapseFour" class="collapse" aria-labelledby="suggestionsheadingFour" data-parent="#accordionSuggestions">
                        <div class="p-6 border-top">
                            <p>Before joining any course there is assessment phase which will help you in selecting a right course for you.</p>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   <!-- CALL ACTION
    ==================================================
    <section class="py-6 py-md-12 jarallax" data-jarallax data-speed=".8" style="background-image: url(assets/img/illustrations/illustration-5.jpg)">
        <div class="container text-center py-xl-7" data-aos="fade-up">
            <h1>Limitless Learning, More Possibilities</h1>
            <div class="font-size-lg mb-md-6 mb-4">Launch your tech career</div>
            <div class="mx-auto">
                <button type="button" [routerLink]="['/apply/applicationform']" class="btn btn-dark btn-x-wide lift d-inline-block rounded-xl">
                    Apply  Now
                </button>
            </div>
        </div>
    </section>
-->
