
         <!-- PAGE HEADER
    ================================================== -->
    <div class="page-header position-relative pt-8 pt-xl-11">
        <div class="position-absolute top-0 right-0 left-0 overlay overlay-custom-left">
            <img class="" src="assets/img/covers/courses2.jpg" alt="...">
        </div>
    </div>



    <!-- PAGE TITLE
    ================================================== -->
    <div class="page-header-cont container">
        <div class="row mb-8">
            <div class="col-lg-8 mb-6 mb-lg-0 position-relative">
                <div class="course-single-white">
                    <h1 class="me-xl-14 text-white">
                        Izaan Blogs
                    </h1>
                    <p class="me-xl-13 mb-5 text-white">Our School is purpose-oriented, committed and focused on providing ideal services and assisting individuals goals.</p>

                </div>
          </div>
       </div>
    </div>


