     <!-- PAGE HEADER
    ================================================== -->
    <div class="page-header position-relative pt-8 pt-xl-11">
        <div class="position-absolute top-0 right-0 left-0 overlay overlay-custom-left">
            <img class="" src="assets/img/covers/courses2.jpg" alt="...">
        </div>
    </div>



    <!-- PAGE TITLE
    ================================================== -->
    <div class="page-header-cont container">
        <div class="row mb-8">
            <div class="col-lg-8 mb-6 mb-lg-0 position-relative">
                <div class="course-single-white">
                    <h1 class="me-xl-14 text-white">
                        Hire Our Grads
                    </h1>
                    <p class="me-xl-13 mb-5 text-white">Our School is purpose-oriented, committed and focused on providing ideal services and assisting individuals goals.</p>

                </div>
          </div>
       </div>
    </div>

    <!-- Hire Our Grads
    ================================================== -->
     <!-- PRICING
    ================================================== -->
    <div class="container mb-11" style="margin-top: 270px;">
        <div class="row">
            <div class="col-md-12 col-xl-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <h3 class=""> Email</h3>
                        <p class="mb-6">
                            <li class="mb-6">For general inquiries, please contact. info@izaanschool.com </li>
                        </p>

                        <h3 class=""> Call  </h3>
                        <p class="mb-6">
                            <li class="mb-6">+1 888-552-5888 </li>
                        </p>
                        <!-- <h3 class="">  Address</h3>
                        <p class="mb-6">
                            116 West 23rd St.Suite 500, New York, NY 10011, United States
                        </p> -->



                    </div>

                </div>
            </div>
        </div>

    </div>

