    <!-- Modal onload -->
    <div  class="modal fade" id="nonProfit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> <!-- Add this line to your code -->
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content text-center">
              <div class="modal-header">
                  <h5 class="modal-title m-auto" id="exampleModalLabel">Remember</h5>
              </div>
              <div class="modal-body">
                2% of your total fee goes to non-profit causes
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-info btn-sm" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div> <!-- And the relavant closing div tag -->
  <button #_nonProfit data-bs-toggle="modal" data-bs-target="#nonProfit" style="display: none;"> </button>




    <div class="tution-finance-page">
      <!-- PAGE HEADER
    ================================================== -->
      <div class="page-header position-relative pt-8 pt-xl-11">
        <div class="position-absolute top-0 right-0 left-0 overlay overlay-custom-left">
          <img class="" src="assets/img/covers/courses2.jpg" alt="...">
        </div>
      </div>



      <!-- PAGE TITLE
    ================================================== -->
      <div class="page-header-cont container">
        <div class="row mb-8">
          <div class="col-lg-8 mb-6 mb-lg-0 position-relative">
            <div class="course-single-white">
              <h1 class="me-xl-14 text-white">
                Tuition &amp; Financing at Izaan School
              </h1>
              <p class="me-xl-13 mb-5 text-white">We offer different plans making it easier for you to invest.</p>

            </div>
          </div>
        </div>
      </div>



      <!-- PRICING
    ================================================== -->
      <div class="pricing container mb-11">
        <div class="row">

          <!-- <a #_nonProfit href="#" class="" data-bs-toggle="modal" data-bs-target="#nonProfit"></a> -->
          <p class="mb-6">With our <span style="color:#2f2d51;font-weight: bold;">awesome </span> courses, you can start
            your journey towards a new career destination. Our class structure, curated content, live helpline, highly
            trained instructors, and mentoring session will ensure quality education. </p>
          <!-- <p class="mb-6">Covid19 has impacted the economy and everyone’s lives. The pandemic has also shown us that the future is based on Technology and adapting to the new tech-based solutions will surely guarantee you a better career pivot. This will ensure you a secured source of income online, offline, remote, and freelance jobs. Keeping pace with the current market trend and advancements we frequently revise and update our content and you can rest assured that you are getting the maximum benefit from your investment. </p>
            <h6>You can select from the below-mentioned free structures. </h6>
            <p class="mb-6">Do reach us anytime you have any additional questions.</p> -->


          <p class="mb-6">Whenever you enroll you can enjoy <span style="color:#2f2d51;font-weight: bold;">a 14-days
              trial</span> to see how our courses are structured and how the instructors engage with the highly selected
            content. </p>

          <p class="mb-6">After the <span style="color:#2f2d51;font-weight: bold;"> trial</span> period, you can extend
            the access to an additional <span style="color:#2f2d51;font-weight: bold;">2 months </span> by paying
            sign-up fees which will be later deducted from the fee. This period will be before the live class starts.
          </p>

          <!-- <h5>Note: To know detailed fee breakdown contact us at info@izaanschool.com</h5> -->


          <h2>Fees for our courses</h2>

          <!-- <div class="row row-cols-md-2 row-cols-lg-3 mb-8"> -->
          <div class="row mb-8">

            <div class="col-md-3 mb-6">
              <!-- Card -->
              <div class="card border shadow p-2 lift sk-fade">
                <ul class="list-group list-group-flush">

                  <li class="list-group-item d-flex align-items-center py-3">
                    <button class="btn btn-primary  btn-block" type="button" name="button">QAAE</button>
                  </li>

                  <li class="list-group-item text-center py-3">
                    <span style="background-color: #ffc78b; display: block;"><b>Payment Option 01</b></span>
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay upfront enjoy a 10% discount
                  </li>

                  <li class="list-group-item text-center py-3">
                    <span style="background-color: #ffc78b; display: block;"><b>Payment Option 02</b></span>
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay in 2 installments enjoy a 5% discount
                  </li>

                  <li class="list-group-item text-center py-3">
                    <span style="background-color: #ffc78b; display: block;"><b>Payment Option 03</b></span>
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay in 4 installments no discount
                  </li>


                  <li class="qaae-total-li list-group-item text-center py-3">
                    <p><b>Total Fee: $8,000</b></p>
                    <p><b>During Course: $4,000</b></p>
                    <p><b>After Starting Job: $4,000</b></p>
                  </li>

                </ul>
              </div>
            </div>

            <div class="col-md-3 mb-6">
              <!-- Card -->
              <div class="card border shadow p-2 lift sk-fade">
                <ul class="list-group list-group-flush">

                  <li class="list-group-item d-flex align-items-center py-3">
                    <button class="btn btn-primary  btn-block" type="button" name="button">DevOps</button>
                  </li>

                  <li class="list-group-item text-center py-3">
                    <span style="background-color: #ffc78b; display: block;"><b>Payment Option 01</b></span>
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay upfront enjoy a 10% discount
                  </li>

                  <li class="list-group-item text-center py-3">
                    <span style="background-color: #ffc78b; display: block;"><b>Payment Option 02</b></span>
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay in 2 installments enjoy a 5% discount
                  </li>

                  <li class="list-group-item text-center py-3">
                    <span style="background-color: #ffc78b; display: block;"><b>Payment Option 03</b></span>
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay in 4 installments no discount
                  </li>


                  <li class="devops-total-li list-group-item text-center py-3">
                    <p><b>Total Fee: $8,000</b></p>
                    <p><b>During Course: $4,000</b></p>
                    <p><b>After Starting Job: $4,000</b></p>
                  </li>

                </ul>
              </div>
            </div>

            <div class="col-md-3 mb-6">
              <!-- Card -->
              <div class="card border shadow p-2 lift sk-fade">
                <ul class="list-group list-group-flush">

                  <li class="list-group-item d-flex align-items-center py-3">
                    <button class="btn btn-primary  btn-block" type="button" name="button">Data Analyst</button>
                  </li>

                  <li class="list-group-item text-center py-3">
                    <span style="background-color: #ffc78b; display: block;"><b>Payment Option 01</b></span>
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay upfront enjoy a 10% discount
                  </li>

                  <li class="list-group-item text-center py-3">
                    <span style="background-color: #ffc78b; display: block;"><b>Payment Option 02</b></span>
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay in 2 installments enjoy a 5% discount
                  </li>

                  <li class="list-group-item text-center py-3">
                    <span style="background-color: #ffc78b; display: block;"><b>Payment Option 03</b></span>
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay in 4 installments no discount
                  </li>


                  <li class="dataanalyst-total-li list-group-item text-center py-3">
                    <p><b>Total Fee: $8,000</b></p>
                    <p><b>During Course: $4,000</b></p>
                    <p><b>After Starting Job: $4,000</b></p>
                  </li>

                </ul>
              </div>
            </div>


            <div class="col-md-3 mb-6">
              <!-- Card -->
              <div class="card border shadow p-2 lift sk-fade">

                <ul class="list-group list-group-flush">

                  <li class="list-group-item d-flex align-items-center py-3">
                    <button class="btn btn-primary  btn-block" type="button" name="button">DevOps for Fresher</button>
                  </li>

                  <li class="list-group-item text-center py-3">
                    <span style="background-color: #ffc78b; display: block;"><b>Payment Option 01</b></span>
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay <b>During Course Fee</b> $7,000 in 1 installment enjoy 10% discount
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay <b>After Starting Job Fee</b> $4,000 in 1 installment
                  </li>

                  <li class="list-group-item text-center py-3">
                    <span style="background-color: #ffc78b; display: block;"><b>Payment Option 02</b></span>
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay <b>During Course Fee</b> $7,000 in 4 installments enjoy 5% discount
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay <b>After Starting Job Fee</b> $4,000 in 2 installments
                  </li>

                  <li class="list-group-item text-center py-3">
                    <span style="background-color: #ffc78b; display: block;"><b>Payment Option 03</b></span>
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay <b>During Course Fee</b> $7,000 in 7 installments no discount
                  </li>
                  <li class="list-group-item text-center py-3">
                    Pay <b>After Starting Job Fee</b> $4,000 in 4 installments
                  </li>


                  <li class="devfresh-total-li list-group-item text-center py-3">
                    <p><b>Total Fee: $11,000</b></p>
                    <p><b>During Course: $7,000</b></p>
                    <p><b>After Starting Job: $4,000</b></p>
                  </li>

                </ul>
              </div>
            </div>


          </div>

          <h6> Many times we find students who are full-time jobholders, have a very short time at hand, and wish to
            study at their own pace without attending live classes. </h6>
          <h6> Access time 6 months </h6>
          <h6>With NO live class or q/a </h6>
          <h6>But we will gladly include an option to reach out by Slack or email if you have a question and want input.
          </h6>

          <p><b>Exception:</b> If you qualify to enroll as a full-time student and you have a REAL problem paying the
            required fees we will ensure you get the chance to study with the special arrangements and build your
            career. We do not offer you free study but ensure your financial hardship does not stop you to grow.
            Together we build a better future.</p>

          <p><b>Remember: </b> 2% of your total fee goes to non-profit causes. So your payment not only enables us to
            serve you better but also enables us to serve people in need of help in our neighborhood and some other part
            of the world.</p>
        </div>
      </div>
    </div>
